/* Backgrounds */

body {
  background: linear-gradient(45deg, #2d194b, #d332e8);
}

.bg-content {
  background: linear-gradient(-45deg, #9356ee, #A991D4); 
}

/* General style form */

.form_container {
    max-width: 700px;
}

.form-label {
    color: #2b154e;
}

.form_legend {
    font-style: italic;
    color: #2b154e;
}

.form_title {
    color: #3f2369;
}

.required::after {
    content: " *";
    color: #790000;
}

.required_symb, .text_error {
    color: #790000;
}

/* Topic creation form style */

.topic_form {
    max-width: 1000px;
    width: 100%;
}

.topic_form_label {
    height: 44px;
}

/* Profile pictures */
.profile_picture-50 {
    width: 50px;
    height: 50px;

    /* object-fit: cover; /* scale the image to cover the element */
}

.profile_picture-75 {
    width: 75px;
    height: 75px;

    /* o0bject-fit: cover; /* scale the image to cover the element */
}

/* Logo */
.logo-50 {
    width: 50px;
    height: 50px;
}

/* Forums */
.forum_link {
    max-width: 20rem;
}

@media screen and (min-width: 576px)  {
    
    .pp_input {
        width: 75%;
    }
}